.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}

#content {
    margin: 20px;
    color: darkslategrey;
}
.sh-overview-display-container{
    height: 400px;
}

#devices-list{
    height: 800px;
    overflow: scroll;
}

#device-container{
    margin-top: 10px;
    margin-left: 5px;
    height: 600px;
    width: 800px;
    background-color: aqua;

}


.device-item {
    margin: 5px;
    width: inherit;
    border: solid darkslategrey;
    border-width: 1px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 2px 2px #878787;
    box-shadow: 2px 2px 2px 2px #878787;
}
.device-row {
    margin: 5px;
    border: darkslategrey;
    border-radius: 5px;

}
.pin-container-left{
    justify-content: right;
    text-align: right;
}

.pin-container-right{
    justify-content: left;
    text-align: left;
}