{% extends "appbuilder/base.html" %}
{% block content %}
    <div class="row">
    <div class="col-sm-8" id="room-overview">
        <h2>Status</h2>
    </div>
    <div class="col-sm-4">
        <h2>Activity</h2>
    </div>
    </div>
    <div class="row">

    </div>
{% endblock %}