.pin{
    background-color: rgba(15,252,37,0.74);
    border-radius: 50%;
    border-style: solid;
    border: #1b1e21;
    text-align: center;
    justify-content: center;
    height: 30px;
    width: 30px;
}
.pin-description{
    width: fit-content;
}
.pin-row{
    margin: 5px;
}
#gpio{
    width: 600px;
}

.pin-on-switch{

}

.on-off-switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

.on-off-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.pin-container {
    width: 200px;
}

