{% extends "base.html" %}

{% block content %}
    <div id="token">
        <h2>Generate Application Token</h2>
        <form method="post" action="">
            {{ form.hidden_tag() }}
            <p>
                {{ form.token.label }}<br>
                {{ form.token}}
                {% for error in form.token.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ qr_code }}</p>
            {% if code %}
                <img src="/static/qrcode_guest.png">
            {% endif %}

            <p>
                <p>{{ form.submit() }}</p>
            </p>
        </form>
    </div>
{% endblock %}