{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h2>
            Voice Assistant
        </h2>
        <div class="container" id="voice-container">
            <audio>
                Listen
            </audio>
            <button onclick="activate_mic()">Activate</button>
        </div>
        <div class="container" id="assistant-history">

        </div>
    </div>
{% endblock %}
{% block final_script %}
    <script src="/static/js/assistant.js"></script>
<script type="text/javascript">
    function activate_mic() {
        const constraints = {
        audio: true
    };
        const audio= document.querySelector('audio')
        navigator.mediaDevices.getUserMedia(constraints).then((stream) => {audio.srcObject =stream} );
    }

</script>
{% endblock %}