<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='sidebar.css') }}">
    {% block header %}
    {% endblock %}

</head>

<body>
    <script src="{{ url_for('static', filename='/scripts/jquery-3.5.1.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% block script %}
    {% endblock %}

    <nav class="navbar sticky-top navbar-dark bg-dark justify-content-right">
        <a class="navbar-brand" href="#">SmartHome</a>
        <a class="navbar-nav" href="{{ url_for('main.index') }}">Home</a>
        {% if current_user.is_anonymous %}
        <a class="navbar-nav" href="{{ url_for('main.login') }}">Login</a>
        {% else %}

        <a class="navbar-nav" href="/user/{{ current_user.username }}">{{ current_user.username }}</a>
        <a class="navbar-nav"href="{{ url_for('main.logout') }}">Logout</a>
        {% endif %}
    </nav>


<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="list-group list-group-flush">
          <a href="{{ url_for('main.pi') }}" class="list-group-item list-group-item-action bg-light">Pi</a>
          <a href="{{ url_for('main.devices') }}" class="list-group-item list-group-item-action bg-light">Devices</a>
          <a href="/monitoring" class="list-group-item list-group-item-action bg-light">Monitoring</a>
          <a href="{{ url_for('main.assistant') }}" class="list-group-item list-group-item-action bg-light">Assistant</a>
          <a href="{{ url_for('main.tasks') }}" class="list-group-item list-group-item-action bg-light">Tasks</a>
        <a href="{{ url_for('main.token') }}" class="list-group-item list-group-item-action bg-light">Token</a>
          <!-- TODO show user section only to admins-->

        <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>

      </div>
    </div>

    <div id="content" class="container">
        {% block content %}

        {% endblock %}
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

    </div>
</div>
{% block final_script %}
{% endblock %}
</body>
</html>