{% extends 'base.html' %}

{% block content %}
    <script src="{{ url_for('static', filename='/js/devices.js') }}"></script>

    <div class="row">
        <div id="devices-list" class="col-sm-3">
            <div class="container border">
            <h2>Devices</h2>
            <div class="container-fluid">
                {% for device in devices %}

                    <div class="row device-item">
                        <div class="col-sm-4">
                            {{ device.name }}
                        </div>
                        <div class="col-sm-8">
                            {{ device.address }}
                            {{ device.device_type }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        </div>

        <div class="col-sm-9">
            <div class="row">
                <div class="container border">
                <h2>Add device</h2>
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <div class="container">
                        <div class="row device-row">
                            <div class="col-sm-4">
                                {{ form.device_name.label }}
                            </div>
                            <div class="col-sm-8">
                                {{ form.device_name(size=50) }}
                            </div>
                        </div>
                        <div class="row device-row">
                            <div class="col-sm-4">
                                {{ form.address.label }}
                            </div>
                            <div class="col-sm-8">
                                {{ form.address(size=50) }}
                            </div>
                        </div>
                        <div class="row device-row">
                            <div class="col-sm-4">
                                {{ form.device_type.label }}
                            </div>
                            <div class="col-sm-8">
                                {{ form.device_type() }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                            </div>
                            <div class="col-sm-8">
                                {{ form.submit() }}
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            {% if selected %}
                <div class="row">
                    <div id="device-container" class="container-fluid border">
                        <p>{{ selected }}</p>
                    </div>
                </div>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}