{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h2>Devices</h2>
                <div class="container-fluid border sh-overview-display-container">

                </div>
            </div>
            <div class="col-sm">
                <h3>Monitoring</h3>
                <div class="container-fluid border sh-overview-display-container">

                </div>
            </div>
        </div>
    </div>
{% endblock %}