{% extends 'base.html' %}

{% block header %}
    <link rel="stylesheet" href="{{ url_for('static',filename='/stylesheets/pi.css') }}">
{% endblock %}
{% block content %}
<div id="pi-container container-fluid">
    <div class="row">
        <div class="col">
            <div id="gpio" class="container">
                <h2>GPIO</h2>
                {% for pin in pins %}
                    <div class="pin-row row">
                        <div class="pin-container container-fluid col">
                            <div class="row">
                                {% if 'GPIO' in pin[0].description %}
                                    <div class="col container-fluid">
                                        <label class="switch">
                                            <input type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                    </div>


                                {% endif %}
                                <div class="col">
                                    <div class="pin-description">
                                        {{ pin[0].description }}
                                    </div>
                                </div>
                                <div class="col pin-container-left">
                                    <div class="pin">
                                        {{ pin[0].pin }}
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="pin-container container-fluid col">
                            <div class="row">
                               <div class="col pin-container-right">
                                   <div class="pin">
                                     {{ pin[1].pin }}
                                   </div>
                                </div>
                                <div class="pin-description col">
                                    <div class="pin-description">
                                        {{ pin[1].description }}
                                    </div>
                                </div>
                                <!-- ON off sliders for pins -->
                                {% if 'GPIO' in pin[1].description %}
                                    <div class="col container-fluid">
                                        <label class="switch">
                                            <input type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                    </div>


                                {% endif %}

                            </div>
                        </div>

                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col">
            <h2>Devices</h2>
        </div>
    </div>
</div>

{% endblock %}