{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div id="create-task-container" class="col-sm">
                <h2>Create Task</h2>
                <div class="container-fluid border sh-overview-display-container">
                    <form action="" method="post">
                        {{ form.hidden_tag() }}
                        <p>
                            {{ form.device.label }}<br>
                            {{ form.device(size=50) }}
                        </p>
                        <p>
                            {{ form.command.label }}<br>
                            {{ form.command(size=50) }}
                        </p>
                        <p>
                            {{ form.args.label }}<br>
                            {{ form.args(size=150) }}
                        </p>
                        <p>
                            {{ form.queue.label }}<br>
                            {{ form.queue(size=50) }}
                        </p>
                        <p>{{ form.submit() }}</p>


                    </form>
                </div>
            </div>
            <div id="tasks-container" class="col-sm">
                <h3>Tasks:</h3>
                <div class="container-fluid border sh-overview-display-container">

                </div>
            </div>
        </div>
    </div>
{% endblock %}